@model Day03_20092022.Models.Student

<h2>THÔNG TIN SINH VIÊN</h2>
<form asp-action="Manage">
    <div clas md-12>
        <label>Mã số SV</label>
        <input name="StudentId">
    </div>
    <div>
        Ho ten: <input name="FullName" />
    </div>
    <div>
        Diem: <input name="Grade" />
    </div>
    <input class="btn-success" name="buttonName" value="Ghi file Text"/>
    <input class="btn-success" name="buttonName" value="Ghi file Json"/>
</form>